.cart_button{
    border: none;
    background-color: #60b246;
    color: white;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    margin-top: 15px;
}
.item_content{
    width: 80%;
}
@media(max-width:480px){
    .item_desc{
        display: none;
    }
    .item_content{
        width: 50%;
    }
}