
.add_cart_button{
    background-color: white;
    padding: 5px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    color: #60b246;
    width: 100px;
    margin: auto 10px;
    border-radius: 5px;
    margin-bottom: -19px;
    border: 1px solid;
}
.quantity{
    justify-content: space-between;
}
.modal_buttons{
    gap:20px
}
.modal_buttons button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    background-color: #77ca77;
    color: white;
}
.cancel_button{
    background-color: indianred !important;
}
@media (max-width:480px){
    .add_cart_button {
       
        width: 100%;
        margin: auto 13px;
        margin-bottom: -18px;
    }
}