.res_deleivery_info{
    padding: 10px;
}
.res_info_inner{
    padding: 10px;
}
.offers{
    margin: 10px;
    overflow-x: auto;
}
@media (max-width:480px){
    .offers{
        display: none;
    }
}