.main_cartview{
    gap:30px
}
.part_one{
    width:60%;
}
.address_part{
    background-color: white;
    padding: 20px;
    
    border: 1px solid #e9e9eb;

}
.cart_details{
    width: 40%;
    background-color: white;
    padding: 20px;
}
.item_name{
    width: 130px;
    padding: 10px 0;
}
.cart_qty_buttons{
    border:  1px solid #e9e9eb;
    padding: 10px;
}
@media(max-width:768px){

.main_cart{
    flex-flow: wrap-reverse;
}
.cart_details{
    width: 100%;
}
.part_one{
    width: 100%;
}
}