.cart_icon {
    position: relative;
}
.cart_icon span {
    position: absolute;
    left: 6px;
    top: -1px;
}
.location p{
  width: 70%;
  max-height: 20px;;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #686b78;
}
.location svg:hover{
  color: orange;  
}
.others p{
  font-size: 1rem;
  border-bottom: 2px solid grey;
    /* text-decoration: underline; */
    /* padding: 2px; */
  cursor: pointer;
  color: #686b78;
}
.others p:hover{
  color:orange;
  border-bottom: 2px solid orange;
}
.nav_logo{
  gap:1.5rem;
}
  
@media (max-width: 480px) {
    .swiggy_logo{
      display: none;
    }
    .nav_logo{
      gap: 0;
    width: 40%;
    padding: 10px
    }
    .nav_bar{
      width: 100%;
      padding: 10px;
    }
    .location p{
      width: 40%;
    }

}
@media (max-width: 768px) {
    
    .nav_logo{
      width: 40%;
      
    }
    

}